/* Custom styles */

/* Centering table and modal content */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Styling for the table */
#dataTable {
    width: 100%;
    border-collapse: collapse; /* Remove the space between table cells */
}

#dataTable th,
#dataTable td {
    padding: 12px 16px; /* Increase padding for better spacing */
    border: 1px solid #ddd; /* Adding border to cells */
}

#dataTable th {
    background-color: #f0f0f0; /* Background color for header cells */
    font-weight: bold;
    text-align: left; /* Align text to left in header cells */
}

/* Styling for table rows */
#dataTable tbody tr:nth-child(even) {
    background-color: #f9f9f9; /* Alternate row background color */
}

#dataTable tbody tr:hover {
    background-color: #f5f5f5; /* Background color on hover */
}

/* Styling for the modal */
.modal-dialog {
    max-width: 800px;
}

.modal-content {
    padding: 20px;
}

.modal-body p {
    margin-bottom: 10px;
}

/* Styling for the dark mode */
body {
    transition: background-color 0.5s, color 0.5s;
}

body.dark-mode {
    background-color: #333;
    color: #fff;
}
